.a11y-toolbar{
  position: fixed;
  z-index: $a11y-z-index;
  top: 43%;
  left: 0;
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top-right-radius: $a11y-border-radius;
    border-bottom-right-radius: $a11y-border-radius;
  }
  button {
    display: block;
    height: 24px;
    width: 24px;
    background: $a11y-btn-color;
    text-align: center;
    line-height: 24px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #d2d2d2;
    &:hover,
    &:focus {
      background: $a11y-btn-color;
    }
    &.active {
      background: $a11y-btn-color-active;
    }
  }
  .icon {
    display: inline-block;
    background: url($a11y-sprite-path) transparent no-repeat;
    height: 16px;
    width: 16px;
    margin-top: 3px;
  }
  .icon-adjust {
    background-position: 0 0;
  }

  .icon-tint {
    background-position: 0 -16px;
  }

  .icon-font {
    background-position: 0 -32px;
  }

  .icon-white.icon-adjust {
    background-position: -16px -16px;
  }

  .icon-white.icon-tint {
    background-position: -16px 0;
  }

  .icon-white.icon-font {
    background-position: -16px -32px;
  }
  li:first-child button {
    border-top-right-radius: $a11y-border-radius;
  }
  li:last-child button {
    border-bottom-right-radius: $a11y-border-radius;
  }
  @if $a11y-sr-only-class {
    .sr-only{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }

}
