//All variables need to be given a default state.
//As this mini project continues all the variables should be set to default so it would be easy to modify this little library of code.

$a11y-btn-color: #e2e2e2 !default;
$a11y-btn-color-hover: #0066cc !default;
$a11y-btn-color-active: #0066cc !default;
$a11y-z-index: 99999 !default;
$a11y-border-radius: 4px !default;

$a11y-sprite-path: '../img/sprite.png' !default;
$a11y-sr-only-class: true !default;
$a11y-include-btn-styles: true !default;
