@font-face {
	font-family: 'a11y';
	src:url('a11y.eot');
	src:url('a11y.eot?#iefix') format('embedded-opentype'),
		url('a11y.ttf') format('truetype'),
		url('a11y.woff') format('woff'),
		url('a11y.svg#a11y') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'a11y';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-saturation:before {
	content: "\e600";
}
.icon-icon-contrast:before {
	content: "\e601";
}
.icon-icon-fontsize:before {
	content: "\e602";
}
